$theme-color: #1890ff;
$main-background-color: #ffff;
$list-max-height: 800px;
$container-max-width: 1200px;
$container-padding: 6px;
$basic-font-color: rgba(0, 0, 0, 0.65);

$bp-hd: 1609px;
$bp-md: 1200px;
$bp-smd: 992px;
$bp-sm: 768px;
$bp-xs: 566px;
$bp-xxs: 340px;
