
.container--list {
  display: flex;
  flex-wrap: wrap;

  .list__card {
    width: 250px;
    margin: 6px 6px;

    .card__desc {
      display: flex;
      justify-content: space-between;
      p {
        margin: 0;
      }
    }
  }
}