<ng-container *ngIf="(albums$ | async) as albums">
  <div class="container container--list">
    <ng-container *ngFor="let album of albums">
      <nz-card nzHoverable [nzCover]="coverTemplate"class="list__card">
        <nz-card-meta [nzDescription]="descTemplate" [nzTitle]="album.title"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
          <img *ngIf="album.imageTitle" [alt]="album.imageTitle" [src]="album.thumbnailUrl"/>
        </ng-template>
       
       <ng-template #descTemplate>
         <div *ngIf="album.user as user" class="card__desc">
            <nz-avatar [nzShape]="'circle'" [nzIcon]="'user'"></nz-avatar>
            <div>
              <p>{{ user.username }}</p>
              <p>{{ user.email }}</p>
            </div>
         </div>
       </ng-template>

    </ng-container>
  </div>
</ng-container>

