<ng-container *ngIf="(albums$ | async) as albums">
  <div class="container">
    <app-searchbar [ctrlType]="'album'" [placeholder]="'Search album by name'"></app-searchbar>
    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll(e)"
      class="container__list">
      <ng-container *ngFor="let album of albums">
        <nz-card nzHoverable [nzCover]="coverTemplate"  routerLink="/photos/{{album.id}}" @fadeIn class="list__card">
          <nz-card-meta [nzDescription]="descTemplate" [nzTitle]="album.title"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img *ngIf="album.imageTitle" [alt]="album.imageTitle" [src]="album.thumbnailUrl" />
        </ng-template>

        <ng-template #descTemplate>
          <nz-divider></nz-divider>
          <div *ngIf="album.user as user" class="card__desc">
            <nz-avatar [nzShape]="'circle'" [nzIcon]="'user'"></nz-avatar>
            <div  class="desc__details">
              <p class="details__avatar">{{ user.username }}</p>
              <p class="details__username">{{ user.email }}</p>
            </div>
            <button nz-button nzType="link" (click)="openUserDetails($event, user)">View Profile</button>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</ng-container>