<ng-container *ngIf="users$ | async as users">
  <div class="container"> 
      <nz-list [nzDataSource]="users" [nzRenderItem]="user" [nzItemLayout]="'horizontal'">
          <ng-template #user let-user>
            <nz-list-item [nzActions]="[viewActionTemplate]" [nzContent]="contentTemplate">
              <ng-template #viewActionTemplate>
                  <button nz-button nzType="link" (click)="openUserDetails($event, user)">View Details</button>
              </ng-template>
              <nz-skeleton *ngIf="!user" [nzAvatar]="true" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
              <nz-list-item-meta
                *ngIf="user"
                [nzTitle]="titleTemplate"
                [nzAvatar]="avatarTemplate"
                [nzDescription]="user.email"
              ></nz-list-item-meta>
              <ng-template #titleTemplate>
                  <div class="title__wrapper">
                    <p>{{ user.username }}</p>
                    <p>{{ user.name }}</p>
                  </div>
              </ng-template>
              <ng-template #avatarTemplate>
                  <nz-avatar [nzShape]="'circle'" [nzIcon]="'user'"></nz-avatar>
              </ng-template>
              <ng-template #contentTemplate>
                  <button nz-button nzType="link">Link1</button>
                  <button nz-button nzType="link">Link2</button>
                  <button nz-button nzType="link">Link3</button>
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
  </div>
</ng-container>